{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-4">Analysis History</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Timestamp</th>
                        <th scope="col">Text</th>
                        <th scope="col">Sentiment</th>
                        <th scope="col">Positive</th>
                        <th scope="col">Neutral</th>
                        <th scope="col">Negative</th>
                    </tr>
                </thead>
                <tbody>
                    {% for analysis in history %}
                    <tr>
                        <td>{{ analysis.timestamp|timefmt }}</td>
                        <td>{{ analysis.text }}</td>
                        <td>{{ analysis.sentiment }}</td>
                        <td>{{ analysis.scores.positive }}</td>
                        <td>{{ analysis.scores.neutral }}</td>
                        <td>{{ analysis.scores.negative }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
